<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/rolexLogo.png" />

	<title> Rolex</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
	<!-- Header -->
	<%- include("./partials/header")  %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="formulario">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			
			<form action="/" method="GET">
				<div class="input-group">
					<label for="mail">Email:</label>
					<input id="mail" type="email" name="mail" value="">
				</div>
				<div class="input-group">
					<label for="contrasenia">Contraseña:</label>
					<input id="contrasenia" type="password" name="contrasenia" value="">
				</div>
				<div class="input-group">
					<label for="recordame">Recordame</label>
					<input id="recordame" type="checkbox" name="recordame" value="recordame">
				</div>
				<div class="input-group">
					<a href="/" class="volver_index">
					<button type="submit">Enviar</button>
					</a>
				</div>
			</form>
		</div>
	</div>

	<!-- footer -->
	<%- include("./partials/footer")  %>
	<!-- /footer -->
</body>

</html>